<?php

$DB_USER = 'username';
$DB_PASS = 'password';
$DB_HOST = '127.0.0.1';
$DB_PORT = '6379';
$DB_NAME = 'dbname';
$EWAY_USER = 'username';
$EWAY_PASS = 'password';
$EWAY_URL = 'https://free.eway-crm.com/34491/WcfService/Service.svc/';
// $EWAY-USER = 'username';

$DEBUG = true;
